@{
    ViewData["Title"] = "Dashboard";
    ViewBag.Favicon = "Home.svg";
}

@section Home
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index"><img src="~/img/Dasboard.svg"/> Home</a>
    </li>
}

@section Session
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Profile">Hello @Model.Names!! <img src="~/img/@Model.PhotoProfile" class="m-1" style="width: 20px"/></a>
    </li>
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Names</h1>
</div>