@{
    ViewData["Title"] = "Index";
}

<div class="d-flex">
    <div>
        <a asp-controller="Admins" asp-action="Manage" class="btn btn-secondary">Manage employees</a>
    </div>
    <div>
        <a asp-controller="Login" asp-action="Logout" class="btn btn-danger">Logout</a>
    </div>
</div>