
@{
    ViewData["Title"] = "History";
    ViewBag.Favicon = "History.svg";
}

@section Home
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Admins" asp-action="Index"><img src="~/img/Dasboard.svg"/> Home</a>
    </li>
}

@section Session
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout"><img src="~/img/Logout.svg" class="m-1"/>Logout</a>
    </li>
}

<a asp-action="Manage"><img src="~/img/Return.svg"></a>
<h1 class="text-center">Recods</h1>
<table class="table table-dark table-striped table-hover mt-5 text-center">
    <thead>
        <tr>
            <th>LoginAt</th>
            <th>LogOffAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Register in Model)
        {
            <tr>
                <td>@Register.LoginAt</td>
                <td>@Register.LogoutAt</td>
            </tr>
        }
    </tbody>
</table>
