
@{
    ViewData["Title"] = "Record";
}

@section Home
{
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Admins" asp-action="Index"><img src="~/img/Dasboard.svg"/> Home</a>
    </li>
}

<table class="table  table-bordered mt-5 text-center table-striped table-hover">
    <thead class="table table-black">
        <tr>
            <th>Record</th>
        </tr>
        <tr>
            <td>Id</td>
            <td>LoginAt</td>
            <td>LogOffAt</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Register in Model)
        {
            <tr>
                <td>@Register.Id</td>
                <td>@Register.LoginAt</td>
                <td>@Register.LogoutAt</td>
            </tr>
        }
    </tbody>
</table>
